emailpoller/target/classes/emailpoller.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/current/mule-imaps.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <imaps:connector name="IMAP" backupFolder="ProcessedFolder" moveToFolder="ErrorFolder" dynamicNotification="true" validateConnections="true" checkFrequency="6000" doc:name="IMAP">
        <imaps:tls-client path="*" storePassword="*"/>
        <imaps:tls-trust-store path="*" storePassword="*"/>
    </imaps:connector>
    <flow name="emailpollerFlow">
        <imaps:inbound-endpoint host="imap.gmail.com" port="993" user="vyshu2627%40gmail.com" password="kalikadevi" connector-ref="IMAP" responseTimeout="10000" doc:name="IMAP"/>
        <set-variable variableName="key" value="#[message.inboundProperties.subject]" doc:name="Variable"/>
        <logger message="#[flowVars.key]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
